In [54]:
import pandas as pd #import pandas library

In [ ]:
s=pd.Series([2,4,6,8,10], index=['a','b','c','d','e']) # Creating Panda Series
print("Pandas Series")
print(s)
print("\nAccess Single Value",s['e'])

Pandas Series
a     2
b     4
c     6
d     8
e    10
dtype: int64

Access Single Value 10

In [3]:
type(s)

pandas.core.series.Series

In [ ]:
#Creating a DataFrame
data={
    'Name':['Shraddha','Rohit','Shreyas'],
    'Age':[21,38,30],
    'Interest':['Cricket','Tennis','Football']
}

df=pd.DataFrame(data)

print("Pandas Dataframe")
print(df)
print("\nAccess Single Column (as series) : ")
print(df['Age'])

Pandas Dataframe
       Name  Age  Interest
0  Shraddha   21   Cricket
1     Rohit   38    Tennis
2   Shreyas   30  Football

Access Single Column (as series) :
0    21
1    38
2    30
Name: Age, dtype: int64

In [6]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df=pd.read_csv("Tokyo_Olympics.csv") #load csv file

C:\Users\shrad\AppData\Local\Temp\ipykernel_13964\2440189443.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Tokyo_Olympics.csv") #load csv file

In [ ]:
s=pd.Series([10,20,30,40,50]) # Performing Arithmetic Operation
print("Original : \n",s)
print("\nMultiply by 4 : \n",s*4)

Original :
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Multiply by 4 :
 0     40
1     80
2    120
3    160
4    200
dtype: int64

In [20]:
df['Name']                # Select Single Column
df[['Name','Interest']]   # Select Multiple Column
df.iloc[0]                # First row by index
df.iloc[1:4]              # Rows by index range
df.loc[df['Age']>25]      # Filter condition

      Name  Age  Interest
1    Rohit   38    Tennis
2  Shreyas   30  Football

In [ ]:
df.head() # First 5 rows

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1418888645105356803,Abhishek Srivastav,"Udupi, India",Trying to be mediocre in many things,2021-02-01 06:33:51,45.0,39.0,293.0,False,2021-07-24 10:59:49,Let the party begin\n#Tokyo2020,['Tokyo2020'],Twitter for Android,0.0,0.0,False
1,1418888377680678918,Saikhom Mirabai ChannuğŸ‡®ğŸ‡³,"Manipur, India",Indian weightlifter 48 kg category. ChampionğŸ†,2018-04-07 10:10:22,5235.0,5.0,2969.0,False,2021-07-24 10:58:45,Congratulations #Tokyo2020 https://t.co/8OFKMs...,['Tokyo2020'],Twitter for Android,0.0,0.0,False
2,1418888260886073345,Big Breaking,Global,All breaking news related to Financial Market....,2021-05-29 08:51:25,3646.0,3.0,5.0,False,2021-07-24 10:58:17,Big Breaking Now \n\nTokyo Olympic Update \n\n...,NaN,Twitter for Android,0.0,1.0,False
3,1418888172864299008,International Hockey Federation,Lausanne,Official International Hockey Federation Twitt...,2010-10-20 10:45:59,103975.0,2724.0,36554.0,True,2021-07-24 10:57:56,Q4: ğŸ‡¬ğŸ‡§3-1ğŸ‡¿ğŸ‡¦\n\nGreat Britain finally find a wa...,NaN,Twitter Web App,1.0,0.0,False
4,1418886894478270464,Cameron Hart,Australia,Football & Tennis Coach,2020-10-31 08:46:17,6.0,37.0,31.0,False,2021-07-24 10:52:51,All I can think of every time I watch the ring...,"['Tokyo2020', 'ArtisticGymnastics', '7Olympics...",Twitter for iPhone,0.0,0.0,False

In [ ]:
df.tail() # Last 5 rows

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
297006,1419947001102405633,Belgian Cats,Brussels,The Belgian National Team - Women's basketball,2010-05-11 10:28:27,5296,161,973,False,2021-07-27 09:05:21,It's a close contest in our first Olympic game...,NaN,Twitter Web App,7.0,38.0,False
297007,1419946996895346689,IOC MEDIA,Lausanne. Switzerland,Keep updated with all the latest news from the...,2011-01-05 10:00:39,147657,712,624,True,2021-07-27 09:05:20,10 athletes from the IOC @RefugeesOlympic star...,['Tokyo2020'],Twitter Web App,7.0,11.0,False
297008,1419946993909047299,Devin Heroux,"Toronto, Ontario",CBC News/Olympics Reporter. Based in Toronto. ...,2009-03-24 22:53:21,44209,2317,153144,True,2021-07-27 09:05:19,SNACK TIME! \n\nHow could I say no to â€œtwo sof...,NaN,Twitter for iPhone,78.0,355.0,False
297009,1419946992948576256,â“‚ï¸ğšğ¬ğš ğŸŠ ğŒğ«.ğ‚ğ¡ğ¢ğ¥ğğ«ğğ§ ğŸŒ,æ±äº¬,ğŸ—¼ğ‘‡ğ‘œğ‘˜ğ‘¦ğ‘œ ğ½ğ´ğ‘ƒğ´ğ‘ ğŸ‡¯ğŸ‡µ âœ‚ï¸ è¡¨å‚é“ â­ï¸ åŸå®¿ âœ‚ï¸ ğ»ğ‘ğ‘–ğ‘Ÿ ğ‘ ğ‘¡ğ‘¦ğ‘™ğ‘–ğ‘ ğ‘¡ âœ‚...,2015-12-31 02:13:03,149,245,12208,False,2021-07-27 09:05:19,.\n.\n.\nğŸ„â€â™‚ï¸ ğŠğšğ§ğ¨ğš ğˆğ ğšğ«ğšğ¬ğ¡ğ¢ ğŸ‡¯ğŸ‡µ\n.\n.\nğŸ¥ˆğ‚ğ¨ğ§ğ ğ«ğš...,['äº”ååµã‚«ãƒã‚¢'],Twitter for iPhone,0.0,0.0,False
297010,1419946985214431232,Oigetit Breaking News,"San Francisco, CA","Powered by AI fake news filtering technology, ...",2020-06-10 01:19:55,343,273,1360,False,2021-07-27 09:05:17,#Breaking - It brings Tokyoâ€™s total to more th...,['Breaking'],Twitter Web App,0.0,0.0,False

In [ ]:
df.info() # Summary (data_types,non-null count)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297011 entries, 0 to 297010
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                297011 non-null  object
 1   user_name         165938 non-null  object
 2   user_location     127915 non-null  object
 3   user_description  157310 non-null  object
 4   user_created      160532 non-null  object
 5   user_followers    160532 non-null  object
 6   user_friends      160531 non-null  object
 7   user_favourites   160531 non-null  object
 8   user_verified     160529 non-null  object
 9   date              160531 non-null  object
 10  text              160531 non-null  object
 11  hashtags          123028 non-null  object
 12  source            160530 non-null  object
 13  retweets          160525 non-null  float64
 14  favorites         160525 non-null  float64
 15  is_retweet        160525 non-null  object
dtypes: float64(2), object(14)
memory usage: 36.3+ MB

In [ ]:
df.shape # (rows,columns)

(297011, 16)

In [ ]:
df.dtypes # Datatypes of each column

id                   object
user_name            object
user_location        object
user_description     object
user_created         object
user_followers       object
user_friends         object
user_favourites      object
user_verified        object
date                 object
text                 object
hashtags             object
source               object
retweets            float64
favorites           float64
is_retweet           object
dtype: object

In [ ]:
df.describe() # Summary Statistics (mean,max,min,std,etc)

            retweets      favorites
count  160525.000000  160525.000000
mean        2.518629      14.132372
std        43.109598     149.978699
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       1.000000
75%         0.000000       3.000000
max      6429.000000   14382.000000

In [ ]:
df.columns # List of column Names

Index(['id', 'user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'retweets', 'favorites',
       'is_retweet'],
      dtype='object')

In [ ]:
df.index # Row Index

RangeIndex(start=0, stop=297011, step=1)

In [ ]:
df.to_csv("Saved Output File",index=False) # Saving the output file

In [ ]:
df.describe() # Summary Statistics (mean,std,min,max,etc)

            retweets      favorites
count  160525.000000  160525.000000
mean        2.518629      14.132372
std        43.109598     149.978699
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       1.000000
75%         0.000000       3.000000
max      6429.000000   14382.000000

In [ ]:
df['retweets'].mean() # Average marks

np.float64(2.51862949696309)

In [ ]:
df['favorites'].median() # Median

np.float64(1.0)

In [ ]:
df['retweets'].max() # Maximum Value

np.float64(6429.0)

In [ ]:
df['retweets'].min() # Minimum Value

np.float64(0.0)

In [ ]:
df['retweets'].sum() # Sum of Column

np.float64(404303.0)

In [ ]:
df['retweets'].value_counts() # Frequency count

retweets
0.0       122922
1.0        16416
2.0         6121
3.0         3574
4.0         2041
           ...
207.0          1
246.0          1
1149.0         1
1089.0         1
1534.0         1
Name: count, Length: 380, dtype: int64